# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Node
node_modules/
dist/
build/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db